$alto: #dddddd;
$white: #ffffff;
$black: #000000;
$purple: #5b4681;

// Spacing
$space: 1.4rem;

// Button
$button-bg: $purple;
$button-color: $white;
$button-pill-color: $purple;

// Font sizes
$base-font-size: 1.6rem;

// Form inputs
$input-border: $alto;

// Boxed view
$boxed-view-overlay-bg: $alto;
$boxed-view-bg: $white;

// Links
$link-color: $black;
