$concrete: #f2f2f2;
$white: #ffffff;
$black: #000000;
$cerulean: #00aecc;

// Spacing
$space: 1.4rem;

// Button
$button-bg: $cerulean;
$button-color: $white;
$button-pill-color: $cerulean;

// Font sizes
$base-font-size: 1.6rem;

// Form inputs
$input-border: $concrete;

// Boxed view
$boxed-view-overlay-bg: $concrete;
$boxed-view-bg: $white;

// Links
$link-color: $black;
