.button {
  font-size: $base-font-size;
  padding: 1rem;
  cursor: pointer;
  line-height: 1.2;
  text-transform: uppercase;
  color: $white;
  border: 0;
  background-color: $button-bg;
}

// button modifier
.button--link {
  display: inline-block;
  text-decoration: none;
}

// we add these styles
.button--pill {
  background-color: transparent;
  border: 1px solid $button-pill-color;
  color: $button-pill-color;
}

.button--default {
  background-color: transparent;
  color: $concrete;
}

.button--success {
  background-color: $button-success;
}

.button--danger {
  background-color: $button-danger;
}
